
.services-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    padding: 50px;
}

@media only screen and (max-width:688px) {
    .services-container{
        display: grid;
    grid-template-columns: repeat(1,1fr);
    }
}