.footer{
    background-color: blue;
}
.footer-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer-icon{
    font-size: 50px;
}
@media only screen and (max-width:688px) {
    .footer-section{
        display: grid;
    grid-template-columns: repeat(1,1fr);
    }
}